.item{
    display: grid;
    box-shadow:1px 1px 10px #ccc ;
    padding: 10px;
    min-width: 800px;
    grid-gap: 10px;
    font-weight: bold;
    margin: 10px;
}
.item__job{
    color: rgba(23, 133, 228);
    font-size: large;
}